.about-us-container {
    // display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    // gap: 20px;
    display: flex;
    color: white;
    flex-wrap: wrap;
    background-color: #3f51b5;
}

.section {
    // border: 1px solid #ccc;
    padding: 8px;
    margin: 8px;
    font-weight: 400;
}

@media screen and (min-width: 600px) {
    .about-us-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}